@model EmployeePortal.ViewModels.EmployeeCreateUpdateViewModel
@{
    ViewData["Title"] = "Çalışan güncelle";
}
<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-2 border rounded">
                    <div class="bg-primary text-white text-center py-3 rounded mb-4 shadow-sm">
                        <h2 class="mb-0">Çalışan bilgileri güncelle</h2>
                    </div>
                    <form asp-action="Update" method="post">
                        <!-- Hidden field to store the Employee ID -->
                        <input type="hidden" asp-for="Id" />
                        <div class="row mb-3">
                            <label asp-for="AdSoyad" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <input asp-for="AdSoyad" class="form-control" placeholder="Ad ve soyad giriniz" />
                                <span asp-validation-for="AdSoyad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Email" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control" placeholder="Email adresi giriniz" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="DepartmentId" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <select asp-for="DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control" id="DepartmentDropdown">
                                    <option value="">Departman seç</option>
                                </select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="DesignationId" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <select asp-for="DesignationId" asp-items="@(new SelectList(Model.Designations, "Id", "Name"))" class="form-control" id="DesignationDropdown">
                                    <option value="">Bilgileri seçiniz</option>
                                </select>
                                <span asp-validation-for="DesignationId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Isealimtarihi" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <input asp-for="Isealimtarihi" class="form-control" type="date" />
                                <span asp-validation-for="Isealimtarihi" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Dogumtarihi" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <input asp-for="Dogumtarihi" class="form-control" type="date" />
                                <span asp-validation-for="Dogumtarihi" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="EmployeeTypeId" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <select asp-for="EmployeeTypeId" asp-items="@(new SelectList(Model.EmployeeTypes, "Id", "Name"))" class="form-control">
                                    <option value="">Çalışan tipi seçiniz</option>
                                </select>
                                <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Cinsiyet" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input asp-for="Cinsiyet" type="radio" class="form-check-input" value="Erkek" />
                                    <label class="form-check-label">Erkek</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Cinsiyet" type="radio" class="form-check-input" value="Kadın" />
                                    <label class="form-check-label">Kadın</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Cinsiyet" type="radio" class="form-check-input" value="Diğer" />
                                    <label class="form-check-label">Diğer</label>
                                </div>
                                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Maas" class="col-sm-3 col-form-label text-end"></label>
                            <div class="col-sm-9">
                                <input asp-for="Maas" class="form-control" placeholder="Maaş giriniz" />
                                <span asp-validation-for="Maas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-lg me-3">Güncelle</button>
                            <a class="btn btn-primary btn-lg" asp-action="List">Geri dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
        function loadDesignations(departmentId, selectedDesignationId) {
        if (departmentId) {
        $.getJSON('@Url.Action("GetDesignations")', { departmentId: departmentId }, function (data) {
        var $designationDropdown = $('#DesignationDropdown');
        $designationDropdown.empty();
        $designationDropdown.append('<option value="">Select Designation</option>');
        $.each(data, function (index, item) {
        var selected = item.id === selectedDesignationId ? 'selected' : '';
        $designationDropdown.append('<option value="' + item.id + '" ' + selected + '>' + item.name + '</option>');
        });
        });
        } else {
        $('#DesignationDropdown').empty().append('<option value="">Select Designation</option>');
        }
        }
        var departmentId = $('#DepartmentDropdown').val();
        var selectedDesignationId = '@Model.DesignationId';
        if (departmentId) {
        loadDesignations(parseInt(departmentId), parseInt(selectedDesignationId));
        }
        $('#DepartmentDropdown').change(function () {
        var deptId = $(this).val();
        loadDesignations(parseInt(deptId), null);
        });
        });
    </script>
}